#root {
    background-image: url(/photoBack/Asset_5.png);
    /* background-size: cover; */
    background-attachment: fixed
}

/* #Nav {
    background-color: black;
    background-size: cover;
    border: 80px;
} */